:root {
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
  --background-color: #ffffff;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --footer-text-color: #2f303a;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background-color: var(--background-color);
}

/* All site */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Site nav */

.text {
  display: flex;
  align-items: center;
}
.header-list {
  margin-right: 50px;
}
.header-list :last-child {
  margin-right: 0;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  border: 1px solid #ececec;
}

.logo-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 23px;
}

.logo-accent {
  color: var(--text-color-main);
  padding: 24px 0;
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.text-nav-one {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);

  padding: 32px 0;
}

.text-nav-one:hover,
.text-nav-one:focus {
  color: var(--accent-color);
}

.text-nav-one.current {
  color: var(--accent-color);
}
.contact-list {
  margin-right: 50px;
  padding: 32px 0;
}

/* .text :last-child {
  margin-right: 0;
} */

.contact-text-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.contact-text-list:hover,
.contact-text-list:focus {
  color: var(--accent-color);
}

/* main hero */
.hero-img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: 1px solid var(--text-color-main);
}

.hero-btn {
  cursor: pointer;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);

  text-align: center;
}

.hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);

  border: none;
  border-radius: 4px;

  margin-top: 30px;
  width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-color);
}

/* Преимущества */

.visually-hidden {
  display: none;
}
.section-info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.adventages-top {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-info {
  width: 270px;
}
.list-info {
  display: flex;
}
.title-hedding {
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.item-text {
  margin-bottom: 10px;
}

.item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.item-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

/* Виды услуг */

.section-heading {
  padding-bottom: 94px;
}
.section-list :not(:last-child) {
  margin-right: 30px;
}

.section-list {
  display: flex;
}
.title-hedding {
  margin-bottom: 50px;
}

.title-hedding {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

/* Team */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  display: flex;
}

.title-team {
  text-align: center;
  margin-bottom: 50px;
}

.team-img:not(:last-child) {
  margin-right: 30px;
}
.team-img {
  width: 270px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.icon-list-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-list-team {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.icon-list-team:not(:last-child) {
  margin-right: 10px;
}

.icon-list {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  fill: var(--text-color-secondary);
}

.icon-list:hover .icon-list:focus {
  background: var(--accent-color);
}

.section-team {
  background-color: #f5f4fa;
}

.item-text-box {
  padding: 30px 32px;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 10px;
  text-align: center;
}

.info-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
  text-align: center;
  margin-bottom: 16px;
}

/* Футер */
.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  background-color: #2f303a;
}

.logo-footer {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  margin-bottom: 20px;
}

.logo-accent {
  color: var(--text-color-main);
}

.footer-info {
  font-style: normal;
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.list-address {
  display: block;
  margin-bottom: 9px;
}

.list-mail {
  display: block;
  margin-bottom: 9px;
}

.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.address-footer {
  color: var(--background-color);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}

/* Страница 2 */

.logo-accent {
  color: var(--text-color-main);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.text-nav-tree:hover,
.text-nav-tree:focus {
  color: var(--accent-color);
}

.text-mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);

  display: flex;
  align-items: center;
}

.text-mail:hover,
.text-mail:focus {
  color: var(--accent-color);
}

.icon-mail-one {
  margin-right: 10px;
}

.text-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.text-tel:hover,
.text-tel:focus {
  color: var(--accent-color);
}

/* Кнопки */

.list-button {
  cursor: pointer;
  padding: 6px 22px;
}
.item-btn {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-all {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-btn {
  margin-right: 8px;
}
.portfolio-btn:last-child {
  margin-right: 0;
}

.list-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color-main);

  border: none;
  border-radius: 4px;
}

.list-button-current {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.item-btn .list-button:hover,
.list-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/* Работы */

.container-item-title {
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-text-box {
  padding: 20px 24px;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-list {
  margin: 15px;
  width: calc(100% / 3 - 30px);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}
.portfolio-item {
  margin-top: 4px;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-back {
  color: var(--background-color);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}
